<nav class="navbar navbar-expand-lg navbar-dark bg-primary " style="padding-left:20px;padding-right:20px;">
  <a class="navbar-brand me-md-auto" href="/">Image Manipulator</a>
  <ul class="navbar-nav mr-auto " style="float:right !important;"> 
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/process">Process Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upload">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gallery">Gallery</a>
    </li>
  </ul>
</nav>
