<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header'); %>
</head>
<body>

<header class="flex-wrap justify-content-center py-3 mb-4 border-bottom " >
  <%- include('partials/nav'); %>
</header>

<main class="container" style="min-height:200px">
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to Image Processing Application</p>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>